.moviesBoard {
    display: flex;
    flex-direction: column;
    margin-top: 130px;/*hogy tudom megoldani azt hogy ne kelljen margin-al el tolnom*/
    padding-left: 40px;
}

.moviesLineUp {
    display: flex;
    align-items: flex-start;
}